*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: auto; */
  /* color: rgb(16, 25, 31); */
}
.react-player {
  height: 77vh !important;
  width: 100% !important;
}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
